@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #root {
    @apply text-mobile-body;

    --mobile-side-padding: 1.5rem;

    display: grid;
    grid-template-columns:
      [full-width-start]
      var(--mobile-side-padding)
      [content-start]
      1fr
      [content-end]
      var(--mobile-side-padding)
      [full-width-end];
  }

  .child-grid {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }

  .cta-btn {
    @apply bg-primary-1;
    color: white;
  }
}

@layer utilities {
  .full-width {
    grid-column: full-width;
  }

  .content {
    grid-column: content;
  }
}
