@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #root {
    @apply text-mobile-body;

    --mobile-side-padding: 1.5rem;

    text-align: center;
    display: grid;
    grid-template-columns:
      [full-width-start]
      var(--mobile-side-padding)
      [content-start]
      1fr
      [content-end]
      var(--mobile-side-padding)
      [full-width-end];
  }

  @media screen and (min-width: 1440px) {
    #root {
      --desktop-side-padding: 1fr;

      grid-template-columns:
        [full-width-start]
        var(--desktop-side-padding)
        [content-start]
        1108px
        [content-end]
        var(--desktop-side-padding)
        [full-width-end];
    }
  }

  .child-grid {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }

  .cta-btn {
    @apply bg-primary-1;
    @apply font-bold;
    @apply transition-colors;
    @apply duration-200;
    color: white;
  }

  .cta-btn:hover {
    background-color: hsl(180, 77%, 53%);
  }

  .cta-btn:active {
    background-color: hsl(180, 68%, 36%);
  }
}

@layer utilities {
  .full-width {
    grid-column: full-width;
  }

  .content {
    grid-column: content;
  }
}
